* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    background-color: dimgrey;
}

nav {
    background-color: black;
    color: #fff;
    padding-top: .001rem;
    padding-bottom: .001rem;
    font-family: 'Anton', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 600;
    height: 95px;

}


header {
    height: 500px;
    background-color: mintcream;
    padding-top: 112.8px;
    padding-bottom: 112.8px;
    text-align: center;
}



.actors {
    display: inline-block;
    float: left;
    width: 20%;
    text-align: center;
}

.actors-img {
    width: 128px;
    height: 174px;
    margin: 2px;
    padding: 1px;
    display: inline-block;
    text-align: center;
    border-radius: 250px;
    margin-top: 2rem;
}

.container {
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-left: .2rem;
    padding-right: .2rem;
}
/* 
@media(min-width: 576px){
    .container{
        max-width: 540px;
    }
}
}
@media(min-width: 768px){
    .container{
        max-width: 720px;
    }
}
}
@media(min-width: 992px){
    .container{
        max-width: 960px;
    }
}
}
@media(min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}
*/

.clear::after {
    content: "";
    display: block;
    clear: both;
}

#logo .logox {
    color: #fff;
    font-weight: 300;
    font-size: 3rem;
    text-decoration: none;
}

#logo {
    float: left;
    padding-top: .8rem;
    display: inline-block;
}

#nav-links .nav-item {
    float: right;
    margin: .4rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.55rem;
    font-weight: 500;
    display: block;
    margin: 1.5rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    text-decoration: none;
}

ul {
    list-style: none;
}

#nav-links .nav-link:hover {
    color: rebeccapurple;
    transition: .5s;
}

image {
    max-width: 100%;
    height: auto;
}

h1 {
    font-weight: 200;
    font-family: fantasy;
    font-size: 2rem;
    color: white;
    text-align: center;

}

.image1 {
    width: 260px;
    height: 380px;
    background-color: bisque;
    margin: 2px;
    padding: 2px;
    display: inline-block;
    text-align: center;
    border-radius: 9px;
    border-top-left-radius: 9px;
    margin-top: 2rem;
}

.image1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.5s;
}

.line {
    border: none;
    border-top: .4rem solid #fff;
    border-bottom-left-radius: .;
    border-bottom-right-radius: .;
    width: 260px;
    overflow: visible;
}


.line::after {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    color: gold;
    font-weight: 900;
    position: relative;
    top: -27px;
    left: 110px;
    background-color: midnightblue;
    padding: 10px;
    text-align: center;

}
section h4{
    color: mintcream;
    margin-top: 10px;
}

.movie-title {

    padding: 15px;
}

#movies-section {
    height: 2600px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: midnightblue;
}

#movie-images {
    float: left;
    width: 25%;
    padding: 10px;

}
.actors-div{
    margin-top: 40px;
}

.image-divs img {
    display: block;
}

.image-divs {
    position: relative;
    background-color: ;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 380px;
    width: 100%;
    border-radius: 7px;
    background-color: rebeccapurple;
    opacity: 0;
    transition: opacity .5s ease;
}

.img-overlay .icon {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-divs:hover .img-overlay {
    opacity: 0.85;
    transition: 0.7s;
}

.movie-link {
    text-decoration: none;
}

section h3{
    text-align: center;
    color: mintcream;
    font-size: 35px;
    font-weight: 700;
}

.left {
    float: left;
    width: 50%;
    padding-left: 450px;
    padding-right: 20px;
}

.right {
    padding-right: 450px;
    padding-left: 20px;
    float: right;
    width: 50%;
}

.about p {
    font-size: 12px;
}

footer{
    background-color: mintcream;
    height: 600px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    color: darkslategray;
    font-weight: 200;
    font-family: monospace;
    font-size: 3.2rem;
}
.social-img img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.social-img {
    margin-top: 20px;
}
