<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Max Korzh Fan Page</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">


</head>

<body>
    <header>
        <h1>Welcome to the Max Korzh Fan Page</h1>
        <img class="max" src="images/korzh.png" alt="Max Korzh">
        <br>
        <nav>
            <table class="table">
                <tr>
                    <th><a href="">Home</a></th>
                    <th><a href="">Concerts</a></th>
                    <th><a href="">Photos</a></th>
                    <th><a href="">Connect</a></th>
                </tr>
            </table>


        </nav>
    </header>

    
        <main>
        <aside>
         <div class="photos">
            
                <h2><i>Photos</i></h2>
            <img  src="images/65251769_2329499443930903_6136305516227330048_n.jpg" alt="" width="180px;">
            <img src="images/9647189b69d1213fd600bb822aa1d7e4.jpg" alt="" width="180px;">
            <img src="images/max_korzh_18.jpg" alt="" width="180px;" >
            <img src="images/s.jpeg" alt="" width="180px;">
        </div>
    </aside>
    <article>
                       <p>to go to the website -->
                <a href="https://maxkorzh.live/en/" target="_blank" title="HomePage">the Homepage</a>.
            </p>



            <dl>
                <dt>English</dt>
                <dd>Biography
                    At a young age Max's parents enrolled him into music school. At the age of 16 Max started his first band, LunClan, alongside his friends, but the band didn't last long. After it he was a part of a couple other projects, but neither of them was successful. As a teenager he used to record songs in Belarusian.

                    Then he tried himself as a beatmaker making music for other artists but to no success. After it he decided to record his songs over his own instrumentals.

                    Max Korzh recorded his first solo song while studying at Belarusian State University, the biggest college in Belarus. During his third year at the university he decided to drop out to concentrate on his music career. He recorded "Nebo Pomozhet Nam" (English: "Sky Will Help Us") for 300 dollars borrowed from his mom and posted it on Vkontakte, the biggest Russian social network. Shortly thereafter, he enlisted in the military. When he returned from service, he learned that the song had gotten big in Belarus, garnered a big following, and gotten airtime on the radio. Max then proceeded to send the track to Minsk DJs for them to play at parties.[1]</dd>
                <dt>Русский</dt>
                <dd><i>Биография
                    В раннем возрасте родители отдали Макса в музыкальную школу. В 16 лет он с друзьями создал свою музыкальную группу LunClan, которая недолго просуществовала. После этого было ещё несколько проектов, но все они не имели большого успеха. Макс записывал песни и на родном белорусском языке.

                    После всех неудач Максим попробовал себя в роли битмейкера, сочиняя музыку для других исполнителей. Эта идея также не увенчалась успехом, после чего Макс стал петь сам под свои же инструменталы.

                    Во время учёбы в Белорусском Государственном Университете Макс Корж записал свою первую сольную песню. Проучившись в БГУ до 3 курса, он решил, что учёба мешает музыке, бросил университет и всерьёз занялся музыкальной деятельностью. Он записал песню «Небо поможет нам» за 300 долларов, которые занял у своей мамы, и выложил её в социальной сети ВКонтакте. После этого Максима забрали в армию, а когда он вернулся, то узнал, что песня стала популярной в интернете. За это время песня собрала внушительную аудиторию, её даже взяли для транслирования в эфире некоторые минские радиостанции. После этого он начал активно «рассылать» свои песни диджеям, чтобы они крутились в клубах[1].</i></dd>
            </dl>
            <br>
            <iframe class="frame" width=height="" src="https://www.youtube.com/embed/WujKJpxaUHk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</article>
       
        </main>
    
    
    <footer>

        <address>
            <p>
                Alexandr Dobrovsky<br>
                Moscow<br>
                Russia
            </p>

            <ul type="square">
                <li>Tel: 01234 567 890</li>
                <li>Email: kaplantaha@outlook.com</li>
            </ul>
            <a class="mail" href="mailto:kaplantaha@outlook.com">You can send mail to the creator</a>
        </address>
       

    </footer>
</body>

</html>
